body, html{
    padding-top: 0;
    padding-bottom: 1em;
    height: 100%;

}

body {
    background: linear-gradient(45deg, rgba(0,141,187,1) 6%, rgba(0,141,187,1) 36%, rgba(0,212,255,1) 100%);
}

header {
    box-sizing: border-box;
    padding:0 0 ;
    color: white;
}

header>i {
    font-size: 1.04em;
}

.container {
    max-width: 1024px;
    min-width: 300px;
    background: rgba( 255, 255, 255 );
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.5);
   
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    padding: 1em 2em 5em 2em;
}

table {
    text-align: center;
    
}

.formatação-botoes {
    border: none;
    padding: 0.3em 1em;
    font-weight: 500;
}

.botao-salvar,
.botao-visualizar {
    color: #fff;
    
}

.botao-salvar {
    background-color: rgb(28, 126, 184);
}

.botao-visualizar {
    background-color: rgb(15, 158, 15);
}

.frequencia {
    border-radius: 5px;
    border: none;
}

button.botao-voltar {
    padding: 0.3em 0.5em;
    border: none;
    background:none;
}

button.botao-voltar>i {
    margin-right: 10px;
    font-size: 1.5em;
}


.espaco-tabela-frequencia {
    overflow: auto;
}









@media(max-width: 576px){
    header>img {
        width: 130px;
        margin-top: 10px;
    }

    header>h4,
    header>i{
        font-size: 0.9em;
    
    }


    .formatação-botoes {
        border: none;
        padding: 0.3em 1em;
        font-weight: 500;
        font-size: 0.9em;
    }

    .botao-salvar {
        margin-bottom: 5px;
    }

    table {
        font-size: 0.9em;
    }
}




@media(min-width:577px) and (max-width:800px){
    
    header>img {
        width: 150px;
    }

    header>h4,
    header>i{
        font-size: 1em;
    
    }

    .formatação-botoes {
        border: none;
        padding: 0.3em 1em;
        font-weight: 500;
        font-size: 0.9em;
    }

    .botao-salvar {
        margin-bottom: 5px;
    }

    table {
        font-size: 1em;
    }
    
}