body, html{
    padding-top: 0;
    padding-bottom: 1em;
    height: 100%;

}

body {
    background: linear-gradient(45deg, rgba(0,141,187,1) 6%, rgba(0,141,187,1) 36%, rgba(0,212,255,1) 100%);
}

header {
    box-sizing: border-box;
    padding:0 0 ;
    color: white;
}

header>i {
    font-size: 1.04em;
}

.container {
    max-width: 800px;
    min-width: 300px;
    max-height: 600px;
    min-height: 470px;
    background: rgba( 255, 255, 255 );
    box-shadow:0 8px 32px 0 rgba(0, 0, 0, 0.5);
   
    backdrop-filter: blur( 13.5px );
    -webkit-backdrop-filter: blur( 13.5px );
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    justify-content: center;
    padding: 1em 2em 5em 2em;
}
